In [1]:
import pandas as pd
from census import Census 

from config import Api_Key

In [2]:
years=[2013,2014,2015,2016,2017]
for i in years[:]:
    c = Census(Api_Key, year=i)
    census_dataM = c.acs1.get(("NAME","B08012_015E","B08012_016E","B08012_017E","B08012_018E","B08012_019E","B08012_020E",
                             "B08012_021E","B08012_022E","B08012_023E","B08012_024E","B08012_025E","B08012_026E"), {'for': 'state:*'})
    census_dataF = c.acs1.get(("NAME","B08012_028E","B08012_029E","B08012_030E","B08012_031E","B08012_032E","B08012_033E",
                             "B08012_034E","B08012_035E","B08012_036E","B08012_037E","B08012_038E","B08012_039E"), {'for': 'state:*'})
    dataM = pd.DataFrame(census_dataM)
    dataF = pd.DataFrame(census_dataF)
    dataM = dataM.rename(columns={"B08012_015E" : "Less than 5 minutes",
                                    "B08012_016E" : "5 to 9 minutes",
                                    "B08012_017E" : "10 to 14 minutes",
                                    "B08012_018E" : "15 to 19 minutes",
                                    "B08012_019E" : "20 to 24 minutes",
                                    "B08012_020E" : "25 to 29 minutes",
                                    "B08012_021E" : "30 to 34 minutes",
                                    "B08012_022E" : "35 to 39 minutes",
                                    "B08012_023E" : "40 to 44 minutes",
                                    "B08012_024E" : "45 to 59 minutes",
                                    "B08012_025E" : "60 to 89 minutes",
                                    "B08012_026E" : "90 or more minutes",
                                     "NAME": "State", "state": "Number"})
    dataF = dataF.rename(columns={"B08012_028E" : "Less than 5 minutes",
                                    "B08012_029E" : "5 to 9 minutes",
                                    "B08012_030E" : "10 to 14 minutes",
                                    "B08012_031E" : "15 to 19 minutes",
                                    "B08012_032E" : "20 to 24 minutes",
                                    "B08012_033E" : "25 to 29 minutes",
                                    "B08012_034E" : "30 to 34 minutes",
                                    "B08012_035E" : "35 to 39 minutes",
                                    "B08012_036E" : "40 to 44 minutes",
                                    "B08012_037E" : "45 to 59 minutes",
                                    "B08012_038E" : "60 to 89 minutes",
                                    "B08012_039E" : "90 or more minutes",
                                     "NAME": "State", "state": "Number"})
    dataM['Gender']='Male'
    dataF['Gender']='Female'
    dataM=dataM[["State",'Gender','Less than 5 minutes', '5 to 9 minutes', '10 to 14 minutes', '15 to 19 minutes', '20 to 24 minutes', 
                 '25 to 29 minutes', '30 to 34 minutes', '35 to 39 minutes', '40 to 44 minutes', '45 to 59 minutes', '60 to 89 minutes', 
                 '90 or more minutes']]
    dataF=dataF[["State", 'Gender','Less than 5 minutes', '5 to 9 minutes', '10 to 14 minutes', '15 to 19 minutes', '20 to 24 minutes', 
                 '25 to 29 minutes', '30 to 34 minutes', '35 to 39 minutes', '40 to 44 minutes', '45 to 59 minutes', '60 to 89 minutes', 
                 '90 or more minutes']]
    
    if i==years[0]:
        Data = dataM.append(dataF,ignore_index=True)
        Data['Year']=i
    else:
        DataTest = dataM.append(dataF,ignore_index=True)
        DataTest['Year']=i
        Data=Data.append(DataTest, ignore_index=True)

Data.head()

,State,Gender,Less than 5 minutes,5 to 9 minutes,10 to 14 minutes,15 to 19 minutes,20 to 24 minutes,25 to 29 minutes,30 to 34 minutes,35 to 39 minutes,40 to 44 minutes,45 to 59 minutes,60 to 89 minutes,90 or more minutes,Year
0,Alabama,Male,27751.0,91597.0,132328.0,174827.0,156524.0,62730.0,162243.0,26978.0,31420.0,83289.0,48536.0,22582.0,2013
1,Alaska,Male,14517.0,33102.0,40028.0,33806.0,25614.0,6708.0,14044.0,2310.0,3128.0,6746.0,4907.0,6210.0,2013
2,Arizona,Male,39885.0,119211.0,179520.0,204789.0,217171.0,103845.0,228777.0,43519.0,55354.0,114948.0,67367.0,30180.0,2013
3,Arkansas,Male,31755.0,78602.0,110597.0,109502.0,91573.0,30913.0,70575.0,14136.0,17206.0,40637.0,21284.0,14264.0,2013
4,California,Male,166332.0,621282.0,1084839.0,1278146.0,1275253.0,509769.0,1353066.0,238753.0,369212.0,768932.0,713592.0,346968.0,2013

In [3]:
Data.to_csv("Data.csv",encoding="utf-8", index=False)