In [27]:
import pandas as pd
data=pd.read_csv("Data.csv")
data.head()

,City,State,Zipcode,Gender,Less than 5 minutes,5 to 9 minutes,10 to 14 minutes,15 to 19 minutes,20 to 24 minutes,25 to 29 minutes,...,30000 to 34999 USD,35000 to 39999 USD,40000 to 44999 USD,45000 to 49999 USD,50000 to 54999 USD,55000 to 64999 USD,65000 to 74999 USD,75000 to 99999 USD,100000 or more USD,Year
0,Birmingham city,Alabama,7000,Male,619.0,5594.0,6434.0,10770.0,8463.0,2821.0,...,3451.0,2223.0,3146.0,1881.0,1624.0,2384.0,1707.0,1817.0,1874.0,2013
1,Dothan city,Alabama,21184,Male,218.0,1546.0,2805.0,3857.0,1960.0,304.0,...,1018.0,801.0,1382.0,849.0,756.0,956.0,836.0,982.0,1344.0,2013
2,Hoover city,Alabama,35896,Male,0.0,2195.0,1883.0,3611.0,3279.0,2422.0,...,496.0,840.0,1159.0,917.0,1037.0,1463.0,1182.0,2962.0,6482.0,2013
3,Huntsville city,Alabama,37000,Male,1123.0,4870.0,6805.0,10147.0,8854.0,3488.0,...,2323.0,3133.0,1833.0,1114.0,1742.0,3768.0,2408.0,4003.0,8797.0,2013
4,Mobile city,Alabama,50000,Male,259.0,4038.0,6686.0,7708.0,6690.0,2111.0,...,2760.0,2439.0,2215.0,1776.0,2119.0,2697.0,1626.0,2903.0,3754.0,2013

In [54]:
data["City"]=data['City'].str.replace(' city.*' , '')
data["State"]=data['State'].str.strip()
data.head()

,City,State,Zipcode,Gender,Less than 5 minutes,5 to 9 minutes,10 to 14 minutes,15 to 19 minutes,20 to 24 minutes,25 to 29 minutes,...,30000 to 34999 USD,35000 to 39999 USD,40000 to 44999 USD,45000 to 49999 USD,50000 to 54999 USD,55000 to 64999 USD,65000 to 74999 USD,75000 to 99999 USD,100000 or more USD,Year
0,Birmingham,Alabama,7000,Male,619.0,5594.0,6434.0,10770.0,8463.0,2821.0,...,3451.0,2223.0,3146.0,1881.0,1624.0,2384.0,1707.0,1817.0,1874.0,2013
1,Dothan,Alabama,21184,Male,218.0,1546.0,2805.0,3857.0,1960.0,304.0,...,1018.0,801.0,1382.0,849.0,756.0,956.0,836.0,982.0,1344.0,2013
2,Hoover,Alabama,35896,Male,0.0,2195.0,1883.0,3611.0,3279.0,2422.0,...,496.0,840.0,1159.0,917.0,1037.0,1463.0,1182.0,2962.0,6482.0,2013
3,Huntsville,Alabama,37000,Male,1123.0,4870.0,6805.0,10147.0,8854.0,3488.0,...,2323.0,3133.0,1833.0,1114.0,1742.0,3768.0,2408.0,4003.0,8797.0,2013
4,Mobile,Alabama,50000,Male,259.0,4038.0,6686.0,7708.0,6690.0,2111.0,...,2760.0,2439.0,2215.0,1776.0,2119.0,2697.0,1626.0,2903.0,3754.0,2013

In [55]:
data2=pd.read_csv("Data_Obesity.csv")
data2.head()

,City,State cod,State,Year,Gender,Adult Obesity %,Percent of Adults Who Meet CDC-Recommended Physical Activity Levels
0,Baltimore,MD,Maryland,2010,Female,32.8,62.7
1,Baltimore,MD,Maryland,2010,Male,25.1,75.2
2,Baltimore,MD,Maryland,2011,Female,39.4,71.1
3,Baltimore,MD,Maryland,2011,Male,35.0,65.2
4,Baltimore,MD,Maryland,2012,Female,34.2,71.4

In [57]:
Merge = pd.merge(data, data2, how='inner', on=['City','State', 'Year', 'Gender'])
Merge

,City,State,Zipcode,Gender,Less than 5 minutes,5 to 9 minutes,10 to 14 minutes,15 to 19 minutes,20 to 24 minutes,25 to 29 minutes,...,45000 to 49999 USD,50000 to 54999 USD,55000 to 64999 USD,65000 to 74999 USD,75000 to 99999 USD,100000 or more USD,Year,State cod,Adult Obesity %,Percent of Adults Who Meet CDC-Recommended Physical Activity Levels
0,Phoenix,Arizona,55000,Male,5674.0,25326.0,44982.0,53423.0,56588.0,24336.0,...,12317.0,18515.0,23699.0,17271.0,25042.0,38859.0,2013,AZ,25.30,54.60
1,Oakland,California,53000,Male,2485.0,3215.0,10647.0,15565.0,13942.0,4144.0,...,4719.0,5549.0,6929.0,4298.0,7204.0,14682.0,2013,CA,26.20,NaN
2,San Diego,California,66000,Male,4286.0,21680.0,45543.0,65826.0,73159.0,28741.0,...,15895.0,19094.0,25149.0,21412.0,33969.0,63851.0,2013,CA,22.80,56.90
3,San Francisco,California,67000,Male,2408.0,7991.0,18715.0,27126.0,36958.0,15847.0,...,9624.0,12237.0,18142.0,14476.0,27336.0,76881.0,2013,CA,16.00,NaN
4,San Jose,California,68000,Male,1658.0,9949.0,23430.0,39506.0,49672.0,18535.0,...,10874.0,11566.0,17785.0,13798.0,26687.0,66288.0,2013,CA,22.00,52.00
5,Denver,Colorado,20000,Male,2536.0,13487.0,20094.0,28094.0,28323.0,11153.0,...,8033.0,10256.0,14395.0,8643.0,15444.0,26325.0,2013,CO,16.10,59.86
6,Washington,District of Columbia,50000,Male,3339.0,6308.0,10698.0,21071.0,23831.0,11841.0,...,5395.0,8836.0,13533.0,9363.0,20497.0,43152.0,2013,DC,20.60,NaN
7,Miami,Florida,45000,Male,3364.0,5358.0,14005.0,14708.0,20577.0,6109.0,...,2510.0,3816.0,4531.0,2967.0,5715.0,9834.0,2013,FL,20.20,NaN
8,Indianapolis,Indiana,36003,Male,5010.0,15929.0,21610.0,31960.0,40389.0,17951.0,...,9127.0,11503.0,14551.0,8929.0,10204.0,15609.0,2013,IN,28.10,32.30
9,Boston,Massachusetts,7000,Male,4072.0,9000.0,15273.0,20943.0,23453.0,11380.0,...,7198.0,10791.0,11028.0,9372.0,17362.0,26434.0,2013,MA,20.20,28.50
10,Detroit,Michigan,22000,Male,913.0,6704.0,9037.0,14975.0,16013.0,8624.0,...,3700.0,3787.0,4651.0,3772.0,4186.0,3469.0,2013,MI,26.50,20.30
11,Las Vegas,Nevada,40000,Male,1247.0,6713.0,11669.0,21740.0,27878.0,12987.0,...,6091.0,6784.0,8513.0,8032.0,10414.0,12314.0,2013,NV,25.40,80.00
12,New York,New York,51000,Male,23958.0,63913.0,101556.0,145303.0,191484.0,83137.0,...,81921.0,106852.0,131175.0,101297.0,181131.0,319623.0,2013,NY,21.90,71.00
13,Charlotte,North Carolina,12000,Male,3985.0,14068.0,27731.0,30860.0,29827.0,13228.0,...,8691.0,9282.0,12706.0,7043.0,16634.0,33898.0,2013,NC,24.65,50.95
14,Columbus,Ohio,18000,Male,2830.0,16218.0,26969.0,41387.0,42887.0,19674.0,...,12113.0,10203.0,14166.0,12500.0,16247.0,11921.0,2013,OH,26.80,48.90
15,Philadelphia,Pennsylvania,60000,Male,4556.0,13043.0,24806.0,35149.0,42325.0,17173.0,...,16202.0,18997.0,20503.0,15141.0,21981.0,23647.0,2013,PA,24.00,44.00
16,San Antonio,Texas,65000,Male,6865.0,23659.0,41614.0,62688.0,62282.0,26187.0,...,15813.0,15312.0,19274.0,16638.0,22216.0,29333.0,2013,TX,33.30,47.80
17,Seattle,Washington,63000,Male,2997.0,9927.0,22191.0,27344.0,31409.0,13283.0,...,6949.0,12039.0,13462.0,11565.0,23407.0,49753.0,2013,WA,23.00,39.50
18,Phoenix,Arizona,55000,Female,5478.0,22605.0,39865.0,47151.0,50983.0,24180.0,...,12962.0,16070.0,15550.0,10393.0,15647.0,14014.0,2013,AZ,23.70,47.90
19,Oakland,California,53000,Female,785.0,3904.0,10622.0,14035.0,10916.0,3595.0,...,2580.0,3544.0,7187.0,4908.0,7681.0,11216.0,2013,CA,21.50,NaN
20,San Diego,California,66000,Female,3981.0,21704.0,36603.0,56880.0,58418.0,22902.0,...,14732.0,16206.0,19840.0,14701.0,26502.0,23587.0,2013,CA,18.80,56.20
21,San Jose,California,68000,Female,3524.0,13029.0,23022.0,32611.0,35969.0,15782.0,...,8450.0,11121.0,13170.0,10791.0,18642.0,26250.0,2013,CA,22.00,55.00
22,Denver,Colorado,20000,Female,2181.0,12381.0,19005.0,27923.0,26182.0,11376.0,...,7393.0,8039.0,11339.0,8919.0,9492.0,11302.0,2013,CO,24.10,54.91
23,Washington,District of Columbia,50000,Female,1776.0,6869.0,11405.0,18661.0,25031.0,10975.0,...,9442.0,8795.0,14233.0,12601.0,22490.0,28936.0,2013,DC,24.90,NaN
24,Miami,Florida,45000,Female,1984.0,4859.0,10977.0,11197.0,16412.0,4771.0,...,2524.0,2498.0,3193.0,1892.0,2433.0,4177.0,2013,FL,27.20,NaN
25,Indianapolis,Indiana,36003,Female,3612.0,19321.0,23806.0,32801.0,37849.0,17909.0,...,7265.0,7800.0,7835.0,6320.0,8677.0,6400.0,2013,IN,33.30,28.60
26,Boston,Massachusetts,7000,Female,2248.0,10534.0,12714.0,20996.0,22972.0,11974.0,...,9140.0,8075.0,12835.0,11033.0,15047.0,14026.0,2013,MA,23.10,20.20
27,Detroit,Michigan,22000,Female,1255.0,6209.0,13152.0,18576.0,19338.0,9904.0,...,4848.0,5076.0,5284.0,4189.0,2899.0,1829.0,2013,MI,47.10,16.60
28,Las Vegas,Nevada,40000,Female,2357.0,7168.0,13728.0,21130.0,24739.0,9589.0,...,4070.0,5578.0,5674.0,5980.0,5944.0,4766.0,2013,NV,27.10,71.60
29,New York,New York,51000,Female,10262.0,51571.0,95482.0,148418.0,171638.0,76910.0,...,85339.0,96273.0,128353.0,91348.0,162408.0,200459.0,2013,NY,24.60,64.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Boston,Massachusetts,7000,Male,2790.0,8986.0,13497.0,19012.0,24148.0,9189.0,...,8148.0,9123.0,14861.0,10374.0,19671.0,31148.0,2015,MA,19.20,19.60
64,Detroit,Michigan,22000,Male,1908.0,7128.0,11735.0,15730.0,17977.0,6660.0,...,4144.0,4645.0,5031.0,2520.0,5321.0,3474.0,2015,MI,NaN,25.90
65,Las Vegas,Nevada,40000,Male,1951.0,7432.0,11974.0,20470.0,28213.0,14573.0,...,7921.0,8421.0,9584.0,7536.0,9619.0,14646.0,2015,NV,28.90,79.40
66,New York,New York,51000,Male,19885.0,62173.0,100052.0,148804.0,192722.0,82964.0,...,85339.0,111373.0,146659.0,114676.0,193131.0,355589.0,2015,NY,22.30,NaN
67,Charlotte,North Carolina,12000,Male,3066.0,15979.0,23013.0,34350.0,31435.0,17206.0,...,9830.0,11887.0,12790.0,9240.0,17841.0,37723.0,2015,NC,27.11,48.64
68,Columbus,Ohio,18000,Male,3668.0,18653.0,32028.0,48327.0,39251.0,20752.0,...,11669.0,14040.0,14216.0,11477.0,17702.0,15383.0,2015,OH,37.60,53.10
69,Portland,Oregon,59000,Male,3115.0,9790.0,18193.0,24281.0,30555.0,14037.0,...,7542.0,7964.0,12157.0,9884.0,16385.0,26025.0,2015,OR,24.80,62.50
70,Philadelphia,Pennsylvania,60000,Male,3443.0,14853.0,26331.0,30504.0,43454.0,18355.0,...,16341.0,16527.0,26459.0,20794.0,22762.0,28152.0,2015,PA,23.00,49.00
71,San Antonio,Texas,65000,Male,4523.0,22990.0,39358.0,54820.0,68810.0,26007.0,...,17192.0,17774.0,22132.0,17545.0,23433.0,30077.0,2015,TX,39.00,48.50
72,Seattle,Washington,63000,Male,1990.0,10890.0,20581.0,27078.0,33004.0,17329.0,...,8089.0,10521.0,16643.0,12638.0,25440.0,60829.0,2015,WA,16.60,28.00
73,Oakland,California,53000,Female,1016.0,4031.0,12539.0,14430.0,11922.0,3437.0,...,4061.0,5881.0,6562.0,5231.0,7921.0,12022.0,2015,CA,22.00,NaN
74,San Diego,California,66000,Female,2912.0,19331.0,38838.0,56151.0,60229.0,26497.0,...,11215.0,16283.0,20230.0,18762.0,27675.0,29567.0,2015,CA,22.20,52.20
75,Denver,Colorado,20000,Female,2349.0,10167.0,17370.0,26771.0,26046.0,11666.0,...,8940.0,8754.0,11512.0,10231.0,14098.0,15538.0,2015,CO,19.02,56.65
76,Indianapolis,Indiana,36003,Female,3032.0,17436.0,25999.0,36043.0,41047.0,20879.0,...,8541.0,8231.0,11042.0,6641.0,9883.0,7217.0,2015,IN,28.60,36.70
77,Boston,Massachusetts,7000,Female,4304.0,9962.0,16277.0,19319.0,22728.0,9512.0,...,7604.0,10849.0,14172.0,12144.0,14878.0,18281.0,2015,MA,24.40,18.10
78,Detroit,Michigan,22000,Female,1534.0,6313.0,13092.0,20577.0,22815.0,6405.0,...,4385.0,3677.0,3740.0,2668.0,3555.0,1978.0,2015,MI,NaN,10.70
79,Las Vegas,Nevada,40000,Female,1663.0,7333.0,13955.0,16521.0,24857.0,9973.0,...,6200.0,5580.0,6459.0,6342.0,5612.0,5472.0,2015,NV,25.20,69.80
80,New York,New York,51000,Female,12833.0,59380.0,100091.0,133589.0,174915.0,73974.0,...,78340.0,105128.0,138554.0,104757.0,178536.0,211000.0,2015,NY,25.50,NaN
81,Charlotte,North Carolina,12000,Female,3024.0,13893.0,25173.0,27148.0,34043.0,13636.0,...,9127.0,8687.0,11808.0,8635.0,12759.0,15905.0,2015,NC,33.01,41.92
82,Columbus,Ohio,18000,Female,4450.0,15626.0,29139.0,42570.0,44918.0,15276.0,...,11950.0,10011.0,14459.0,8773.0,11485.0,6376.0,2015,OH,29.40,47.30
83,Portland,Oregon,59000,Female,2824.0,11029.0,18065.0,23423.0,27677.0,11663.0,...,7864.0,7606.0,10302.0,8604.0,13026.0,12667.0,2015,OR,19.90,58.70
84,Philadelphia,Pennsylvania,60000,Female,5203.0,15603.0,28297.0,40382.0,46054.0,16800.0,...,16652.0,16028.0,21987.0,15921.0,21304.0,17924.0,2015,PA,32.00,48.00
85,San Antonio,Texas,65000,Female,4003.0,21946.0,39987.0,54846.0,61595.0,20930.0,...,12271.0,15044.0,19326.0,10591.0,13329.0,9055.0,2015,TX,32.10,40.40
86,Seattle,Washington,63000,Female,2465.0,9403.0,17881.0,29565.0,27916.0,13831.0,...,9014.0,11060.0,17046.0,11869.0,21404.0,28827.0,2015,WA,13.70,25.00
87,Denver,Colorado,20000,Male,3864.0,10478.0,20528.0,30621.0,31694.0,14100.0,...,11188.0,12163.0,15467.0,11664.0,19142.0,34766.0,2016,CO,17.75,NaN
88,Columbus,Ohio,18000,Male,4509.0,17118.0,27609.0,46817.0,44023.0,20914.0,...,9924.0,14462.0,17194.0,13050.0,19298.0,17690.0,2016,OH,35.20,NaN
89,Philadelphia,Pennsylvania,60000,Male,4717.0,14359.0,25194.0,30292.0,45144.0,18557.0,...,15927.0,16876.0,25210.0,19636.0,23360.0,35294.0,2016,PA,20.00,NaN
90,Denver,Colorado,20000,Female,2254.0,11340.0,16919.0,29345.0,29242.0,12350.0,...,10331.0,11896.0,13943.0,9753.0,12291.0,17350.0,2016,CO,19.25,NaN
91,Columbus,Ohio,18000,Female,4301.0,17304.0,31346.0,38315.0,44504.0,17961.0,...,10224.0,11364.0,12995.0,11599.0,12345.0,6527.0,2016,OH,31.00,NaN
92,Philadelphia,Pennsylvania,60000,Female,4135.0,14812.0,29568.0,32540.0,46891.0,21036.0,...,14345.0,17960.0,19999.0,16539.0,24238.0,17657.0,2016,PA,36.00,NaN

In [62]:
Merge.to_csv("CompleteData.csv",encoding="utf-8", index=False)