In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook
import pandas as pd
data=pd.read_csv("DataAvrgFinal2.csv")
data.head(10)

,City,State,Year,Zipcode_x,AvrgCommute,AvrgIncome,Zipcode_y,Avrg_HomeValue,MedianMonthly_HC,Zipcode,Number
0,Abilene,Texas,2013,2000,18.677578,31837.111507,1000,89700.0,740.0,1000,48
1,Abilene,Texas,2014,2000,19.269898,32825.921984,1000,103000.0,800.0,1000,48
2,Abilene,Texas,2015,2000,17.774664,34969.874497,1000,113400.0,805.0,1000,48
3,Abilene,Texas,2016,2000,21.091624,33090.747895,1000,107200.0,797.0,1000,48
4,Abilene,Texas,2017,2000,20.318681,37638.016147,1000,114900.0,784.0,1000,48
5,Akron,Ohio,2013,2000,26.596720,31964.392992,1000,78600.0,717.0,1000,39
6,Akron,Ohio,2014,2000,26.222661,31517.275773,1000,80300.0,730.0,1000,39
7,Akron,Ohio,2015,2000,27.322526,34961.820853,1000,80600.0,708.0,1000,39
8,Akron,Ohio,2016,2000,26.151451,34155.503968,1000,78000.0,725.0,1000,39
9,Akron,Ohio,2017,2000,25.868104,31342.588614,1000,81600.0,736.0,1000,39

In [2]:
dataLCcities=data.groupby(['City','State'], as_index=False).mean()
#data5cities.head()
dataLCcities=dataLCcities.dropna()
p = np.percentile(dataLCcities['AvrgCommute'], 75)
p

35.593908403599784

In [3]:

dataLCcities=dataLCcities[dataLCcities['AvrgCommute']>=p]
list1=dataLCcities['City'].unique()
list1

array(['Alameda', 'Alexandria', 'Alhambra', 'Alpharetta', 'Antioch',
       'Apple Valley town', 'Arlington Heights village', 'Atascocita CDP',
       'Auburn', 'Baldwin Park', 'Baltimore', 'Bayam?n zona urbana',
       'Bayamon zona urbana', 'BayamÃ³n zona urbana', 'Bayonne',
       'Bellflower', 'Berkeley', 'Bethesda CDP', 'Bolingbrook village',
       'Boston', 'Brockton', 'Buckeye', 'Buena Park',
       'Caguas zona urbana', 'Carolina zona urbana', 'Castro Valley CDP',
       'Centreville CDP', 'Chicago', 'Chino', 'Chino Hills',
       'Cicero town', 'Columbia CDP', 'Compton', 'Concord', 'Corona',
       'Dale City CDP', 'Daly City', 'Deltona', 'Downey',
       'East Los Angeles CDP', 'East Orange', 'El Monte', 'Elk Grove',
       'Ellicott City CDP', 'Evanston', 'Fairfield', 'Federal Way',
       'Florence-Graham CDP', 'Fontana', 'Framingham CDP', 'Frederick',
       'Fremont', 'Frisco', 'Fullerton', 'Gaithersburg', 'Germantown CDP',
       'Gresham', 'Hayward', 'Hemet', 'Hesperia', 'Homestead',
       'Huntington Beach', 'Inglewood', 'Jersey City', 'Johns Creek',
       'Joliet', 'Jurupa Valley', 'Kendall CDP', 'Kent', 'Lake Elsinore',
       'Lakewood', 'Lancaster', 'Lauderhill', 'League City',
       'Lehigh Acres CDP', 'Livermore', 'Long Beach', 'Los Angeles',
       'Lynn', 'Lynwood', 'Mansfield', 'Manteca', 'Marysville',
       'McKinney', 'Menifee', 'Mesquite', 'Miami Gardens', 'Miramar',
       'Missouri City', 'Moreno Valley', 'Mount Vernon', 'Murrieta',
       'Naperville', 'New Rochelle', 'New York', 'Newark', 'Norwalk',
       'Oakland', 'Ontario', 'Palatine village', 'Palmdale', 'Pearland',
       'Pembroke Pines', 'Perris', 'Philadelphia', 'Pine Hills CDP',
       'Pittsburg', 'Pleasanton', 'Poinciana CDP', 'Pomona', 'Quincy',
       'Rancho Cucamonga', 'Redondo Beach', 'Renton', 'Rialto',
       'Richmond', 'Riverside', 'Riverview CDP', 'Rockville', 'Roswell',
       'San Francisco', 'San Jose', 'San Leandro', 'San Ramon',
       'San Tan Valley CDP', 'Santa Clarita', 'Schaumburg village',
       'Silver Spring CDP', 'Simi Valley', 'Skokie village', 'Somerville',
       'South Gate', 'South Whittier CDP', 'Spring Hill CDP',
       'Sugar Land', 'Surprise', 'Temecula', 'The Hammocks CDP',
       'The Woodlands CDP', 'Thornton', 'Toms River CDP', 'Tracy',
       'Union City', 'Upland', 'Vallejo', 'Victorville', 'Waldorf CDP',
       'Walnut Creek', 'Washington', 'West Covina', 'Weston', 'Whittier',
       'Yonkers', 'Yorba Linda'], dtype=object)

In [4]:
correlationIncome=data[data['Year']==2017]
correlationIncome=correlationIncome.dropna()
from scipy.stats import linregress
linregress(correlationIncome['AvrgCommute'], correlationIncome['AvrgIncome'])

LinregressResult(slope=788.4860730948319, intercept=26061.164049199244, rvalue=0.3607220082780595, pvalue=3.49611956066377e-20, stderr=82.67975446995084)

In [5]:
from sklearn.linear_model import LinearRegression
import matplotlib
matplotlib.use('qt5agg')

x = correlationIncome['AvrgCommute']
y = correlationIncome['AvrgIncome']

# Create model
model = LinearRegression(fit_intercept=True)
model.fit(x[:, np.newaxis], y)

xfit = np.linspace(15, 60, 5)
yfit = model.predict(xfit[:, np.newaxis])

# plot
plt.scatter(x, y)
plt.plot(xfit, yfit,color='red');
plt.show()

In [6]:
#list1=['New York', 'Tracy']

#test=pd.merge(data,data5cities2,on=['City','State'])
#test
for item in list1:
    test=data[data['City']==item]
    plt.plot(test['Year'], test['AvrgCommute'], marker="^", color="red", label=item)
plt.xlim(2012,2018,1)
plt.ylim(5,70,5)
plt.show()

In [7]:
for item in list1:
    test=data[data['City']==item]
    plt.plot(test['Year'], test['AvrgIncome'], marker="^", color="red", label="l")
plt.xlim(2012,2018,1)
plt.ylim(30000,100000,10000)
plt.show()

In [8]:
for item in list1:
    test=data[data['City']==item]
    plt.plot(test['Year'], test['Avrg_HomeValue'], marker="^", color="red", label="l")
plt.xlim(2012,2018,1)
plt.ylim(30000,1000000,50000)
plt.show()

In [9]:
import numpy as np
correlation=data[data['Year']==2015]
correlation=correlation.dropna()
#P = np.percentile(correlation['MedianMonthly_HC'], [5, 95])
#correlation = correlation[(correlation['MedianMonthly_HC'] > P[0]) & (correlation['MedianMonthly_HC'] < P[1])]
#P = np.percentile(correlation['AvrgCommute'], [5, 95])
#correlation = correlation[(correlation['AvrgCommute'] > P[0]) & (correlation['AvrgCommute'] < P[1])]
from scipy.stats import linregress
#numpy.corrcoef(correlation['AvrgCommute'], correlation['AvrgIncome'])[0, 1]
linregress(correlation['AvrgCommute'], correlation['MedianMonthly_HC'])
#correlation.corr()
#sum(pd.isnull(correlation['AvrgCommute']))

LinregressResult(slope=30.491509771599755, intercept=233.84054248713198, rvalue=0.576878416681396, pvalue=4.433927210605168e-54, stderr=1.7729601958747754)

In [10]:
from sklearn.linear_model import LinearRegression
import matplotlib
matplotlib.use('qt5agg')

import matplotlib.pyplot as plt
import numpy as np

# Create random data
#randomNumberGenerator = np.random.RandomState(1000)
x = correlationIncome['AvrgCommute']
y = correlationIncome['MedianMonthly_HC']

# Create model
model = LinearRegression(fit_intercept=True)
model.fit(x[:, np.newaxis], y)

xfit = np.linspace(15, 60, 5)
yfit = model.predict(xfit[:, np.newaxis])

# plot
plt.scatter(x, y)
plt.plot(xfit, yfit,color='red');
plt.show()
#plt.scatter(data['AvrgCommute'], data['AvrgIncome'], marker="o", color="red", label="l")
#plt.xlim(2012,2018,1)
#plt.ylim(30000,1000000,50000)
#py.plot_mpl(fig, filename='linear-Fit-with-matplotlib')
#plt.show()